# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
c-sharp/obj/c-sharp.csproj.nuget.dgspec.json
c-sharp/obj/c-sharp.csproj.nuget.g.props
c-sharp/obj/c-sharp.csproj.nuget.g.targets
c-sharp/obj/project.nuget.cache
c-sharp/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
c-sharp/obj/Debug/net9.0/c-sharp.AssemblyInfo.cs
c-sharp/obj/Debug/net9.0/c-sharp.AssemblyInfoInputs.cache
c-sharp/obj/Debug/net9.0/c-sharp.assets.cache
c-sharp/obj/Debug/net9.0/c-sharp.GeneratedMSBuildEditorConfig.editorconfig
c-sharp/obj/Debug/net9.0/c-sharp.GlobalUsings.g.cs
c-sharp/bin/Debug/net9.0/c-sharp
c-sharp/bin/Debug/net9.0/c-sharp.deps.json
c-sharp/bin/Debug/net9.0/c-sharp.runtimeconfig.json
c-sharp/obj/Debug/net9.0/apphost
c-sharp/obj/Debug/net9.0/c-sharp.csproj.CoreCompileInputs.cache
c-sharp/obj/Debug/net9.0/c-sharp.csproj.FileListAbsolute.txt
c-sharp/obj/Debug/net9.0/c-sharp.genruntimeconfig.cache
c-sharp/obj/Debug/net9.0/c-sharp.sourcelink.json
/c-sharp/.vs/c-sharp/CopilotIndices/17.12.53.23981
c-sharp/.vs/c-sharp/DesignTimeBuild/.dtbcache.v2
c-sharp/.vs/c-sharp/FileContentIndex/4c765b04-17b3-4a05-9e4c-0a85fecfbe05.vsidx
c-sharp/.vs/c-sharp/v17/.futdcache.v2
c-sharp/.vs/c-sharp/v17/.suo
