# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
c-sharp/obj/c-sharp.csproj.nuget.dgspec.json
c-sharp/obj/c-sharp.csproj.nuget.g.props
c-sharp/obj/c-sharp.csproj.nuget.g.targets
c-sharp/obj/project.nuget.cache
c-sharp/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
c-sharp/obj/Debug/net9.0/c-sharp.AssemblyInfo.cs
c-sharp/obj/Debug/net9.0/c-sharp.AssemblyInfoInputs.cache
c-sharp/obj/Debug/net9.0/c-sharp.assets.cache
c-sharp/obj/Debug/net9.0/c-sharp.GeneratedMSBuildEditorConfig.editorconfig
c-sharp/obj/Debug/net9.0/c-sharp.GlobalUsings.g.cs
